<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="keywords" content="web scraping, data processing, rest api, machine learning">
    <meta name="description" content="my personal blog and web scraping service">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="2drxWpOVZNvUU-ODHwM8ffKbXy3vH41YYfVnudIE8wM">
    {{ if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" data>
    {{ else }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js")  | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{ end }}
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
  </head>
  <body>
    <!-- Header  -->
    <header>
      {{ partial "nav.html" . }}
    </header>
    <!-- Main -->
    <main>
      {{ block "main" . }}Content{{ end }}
    </main>
    <!-- Footer -->
    <footer class="bg-gray-800">
      <div class="mx-auto p-4 text-center text-white">
        <h3 class="text-white">Email me and describe your problem!</h3>
        <span>
          I'll review it and response with solution.
        </span>
        <p>
          &copy; imscraping.ninja 2008-2020. All rights reserved.
        </p>
      </div>
    </footer>
    {{ template "_internal/google_analytics_async.html" . }}
  </body>
</html>
