<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css">
  </head>
  <body>
    <!-- Header  -->
    <header>
      <div class="grid-center">
        <div class="col-10">
          {{ partial "nav.html" . }}
          <div class="title-box">
            <h1>Web Scraping Service</h1>
            <span>by GrabLab</span>
          </div>
        </div>
      </div>
    </header>
    <!-- Main -->
    <main>
      {{ block "main" . }}Content{{ end }}
    </main>
    <!-- Footer -->
    <footer>
      <div class="grid-center">
        <div class="col-10">
          <div class="footer-callout-box">
            <h3>Email me and describe your problem!</h3>
            <span>
              I'll review it and response with solution.
            </span>
          </div>
          <p class="footer-copyright">
            &copy; imWebScraping.ninja 2008-2017. All rights reserved.
            Dev by <a href="http://grablab.org/">GrabLab</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
