html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

p, ol, ul {
  margin-top: 0;
}

ol, ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

a {
  color: #0000FF;
}

a:hover {
  text-decoration: none;
}
