<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="ml-10 flex items-baseline space-x-4">
          <a href="/" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
          {{ range .Site.Menus.header }}
          <a href="{{.URL}}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">{{.Name}}</a>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6"> -->
<!--   <ul class="flex"> -->
<!--     <li class='mr-6'> -->
<!--       <a class="link" href="/">Home</a> -->
<!--     </li> -->
<!--     {{ range .Site.Menus.header }} -->
<!--     <li class="mr-6"> -->
<!--       <a href="{{.URL}}">{{.Name}}</a> -->
<!--     </li> -->
<!--     {{end}} -->
<!--   </ul> -->
<!--   <div> -->
<!--     <h1 class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Web Scraping Service</h1> -->
<!--   </div> -->
<!-- </nav> -->
