<div id="wrapper-content" itemscope itemtype="http://schema.org/Organization">
  <div id="welcome" class="container">
    <div class="title">
      <h2><span itemprop="name">Data scraping from APIs and Web Sites</a></h2>
      <span class="byline" itemprop="description">
        api data aggregation, price comparsion, data analysis
      </span>
    </div>

    <div class="content">
      <p>
        <strong>Web scraping</strong> also refered as "web harvesting" or "web data extraction"
        is a technique to extract valuable information from different sources in structured format
        for further analysis.

        We're using most modern technologies to archieve this goals.
      </p>

      <a href="mailto:alex@imscraping.ninja" class="button"
         onclick="ga('send', 'event', 'Email', 'Click', '', 1)">
        Contact Us<br>
        <span itemprop="email">alex@imscraping.ninja</span>
      </a>
    </div>

  </div>
</div>
