<div id="wrapper-content">
  <div id="welcome" class="container">
    <div class="title">
      <h2>Technologies and Frameworks</h2>
      <span class="byline">
        tools and stuff used for web scraping
      </span>
    </div>

    <div class="content">

      <h3>Web Scraping</h3>
      <ul>
        <li>Grab Framework</li>
        <li>Scrapy</li>
        <li>Selenium</li>
        <li>PhantomJS</li>
      </ul>

      <br>

      <h3>Databases</h3>
      <ul>
        <li>MongoDB - working horse. fit scraping requrements just perfectly</li>
        <li>Redis - caching, task queues</li>
        <li>MySQL, PostgreSQL - rarely used for data scraping, usually only on final steps</li>
      </ul>

      <br>

      <h3>Backend</h3>
      <ul>
        <li>Flask</li>
        <li>Loopback</li>
        <li>Django</li>
      </ul>

    </div>

  </div>
</div>
