<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="KGrdXDKiqqHg93kix1ByT2oXJi-axmuq2MzK1CvqglM" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
  <link rel="stylesheet" href="{{ get_url(path="main.css") | safe }}">
</head>

<body>
  <header class="container">
    <nav>
      <ul>
        <li><strong>Data Engeneer</strong></li>
      </ul>
      <ul>
        <li><a href="/" class="contrast"><strong>Home</strong></a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/cv">CV</a></li>
      </ul>
    </nav>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="container">
    <small>© oiwn, {{ now(format="%Y") }}</small> 
  </footer>
</body>
</html>
