{% extends "base.html" %}

{% block content %}
<div class="hero bg-aluminum">
  <div class="hero-container container centered edges pt-25 pb-30">
    <div class="hero-head">
      <h1 class="heading-mega">Web Scraping</h1>
    </div>

    <div class="hero-body mt-3">
      <p class="text-large text-dark-medium">
      Data scraping from APIs and Web Sites API DATA AGGREGATION,
      PRICE COMPARISON, DATA ANALYSIS<br class="hidden-sm">
      </p>
    </div>
  </div>
</div>

<div class="content py-15">
  <div class="content-container container centered edges mb-12">
    <div class="content-head">
      <h2 class="heading-large">Website Template Example</h2>
    </div>

    <div class="content-copy mt-2 container-8">
      <p class="text-large text-dark-medium">
        {{ section.content | safe }}
      </p>
    </div>
  </div>

</div>
{% endblock %}
