@import "@material/list/mdc-list";
@import "@material/elevation/mixins";


.mdc-card {
  margin-bottom: 1em;
}

.mdc-card__actions .mdc-card__action:last-child {
  margin-left: auto;
}

.page-content {
  text-align: center;
  color: rgba(0,0,0,0.9);
  h2[class^="mdc-typography"] {
    font-weight: 600;
    // font-size: 2.2em;
    padding-bottom: 0.2em;
  }
  span.mdc-typography__byline {
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    color: #6F6F6F;
  }

  div.content-box {
    margin-top: 2em;
    text-align: left;

    .content-box__counters {
      font-size: 1.4em;
      padding-bottom: 4px;
      // @include mdc-elevation(2);
      margin: 0 0 0 auto;
      width: 60%;

      ul {
        @extend .mdc-list;
        list-style-type: square;
        margin: 0.4em 0;

        li {
          @extend .mdc-list-item;
          margin-left: 2em;
          height: 24px;
          display: list-item;
        }
      }
    }

    .better-markdown {
      text-align: left;
      justify-content: space-between;
      font-size: 1.4em;
      p {
        margin: 1em 0;
      }
      /* Lists */
      ul {
        @extend .mdc-list;
        list-style-type: square;
        margin: 1em 0;

        li {
          @extend .mdc-list-item;
          margin-left: 2em;
          height: 24px;
          display: list-item;
        }
      }
    }
  }
}
