<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" ng-app="app"> <![endif]-->
<html class="no-js" lang="en" ng-app="app">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<base href="/">
		<title>I am WebScraping Ninja / Web Scraping Service</title>

		<meta name="keywords" content="web scraping, data scraping, web crawling, data extractions, government open data" />
		<meta name="description" content="Provides web scraping, api parsing and data extraction services." />

		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
		<link href="assets/app.min.css" rel="stylesheet" type="text/css" media="all" />
	</head>

	<body ng-init="hide.logo=false">

		<div id="header-wrapper">
			<div id="header" class="container">

				<nav ng-controller="NavCtrl">
					<div id="menu">
						<ul>
							<li ng-class="{current_page_item: isActive('home')}">
								<a ui-sref="home" accesskey="1" title="Home Page" ng-click="hide.logo = false">
									Home
								</a>
							</li>
							<li ng-class="{current_page_item: isActive('about')}">
								<a ui-sref="about" accesskey="2" title="" ng-click="hide.logo = true">
									About</a>
								</li>
							<!--li><a href="#" accesskey="5" title="">Contact Us</a></li>-->
						</ul>
					</div>
				</nav>

				<div id="logo" class="header-show-hide" ng-hide="hide.logo" ng-cloak>
					<h1><a href="#">Web Scraping Service</a></h1>
					<span>by <a href="http://grablab.org">GrabLab</a></span>
				</div>

			</div>
		</div>

		<main>
			<div class="fadeZoom" ng-cloak ui-view></div>
		</main>

		<footer>
			<div id="copyright">

				<div class="title">
					<h2>Email us and describe your problem!</h2>
					<span class="byline">We'll respond with estimated time and price</span>
				</div>

				<p>&copy; imWebScraping.Ninja . All rights reserved. | Dev by <a href="http://grablab.org/">GrabLab</a>.</p>
			</div>
		</footer>

		<script src="assets/vendors.min.js"></script>
		<script src="assets/app.min.js"></script>

		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-62006263-1', 'auto');
		ga('send', 'pageview');

		</script>

	</body>
</html>
