// Global style settings

/* Font */
$font-stack: 'Source Sans Pro', Helvetica, sans-serif;
// $font-stack: Lato, Arial, sans-serif !default;
$mdc-typography-font-family: $font-stack;
$font-size: 1.2rem;
$font-width: 400;
$light-font-color: #3A4145;
$dark-font-color: #333333;

/* Backgrounds */
$light-background-color: #FEFEFE;
$dark-background-color: #333333;
