@import 'reset';
@import 'variables';
/* Modules */
@import "@material/elevation/mdc-elevation";
@import '@material/typography/mdc-typography';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import "@material/ripple/mixins";

/* Project modules */
@import 'containers/content.scss';
@import 'containers/header.scss';
@import 'containers/footer.scss';

/* Additional */
@import 'containers/hero.scss';


body {
  font: 100% $font-stack;
  font-size: $font-size;
  font-weight: $font-width;
  background-color: $dark-background-color;
}

main {
  padding: 0;
  background-color: $light-background-color;

  .highlight {
    padding: 0.6em;
    margin-bottom: 0.8em;
    width: 100%;
    word-wrap: break-word;
  }
}

article {
  img {
    width: 100%;
  }
}
